/* Dot Between Logo and Profession */
:root{
    --bg: #2f3e46;
    --card: #354f52;
    --primary: #84a98c;
    --secondary: #52796f;
    --soft: #cad2c5;
}


.profession::before{
    content: "\00B7";  /*Middle Dot */
    margin: 0 10px;
    font-weight: bold;
}

body{
    padding-top: 55px;
}

.navbar{
    background-color: var(--bg);

}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #cad2c5; /* Ash Grey from your palette */
}

.nav-link:hover,
.navbar .navbar-brand:hover {
    color: var(--primary); /* Light Green from your palette */
}

#hero{
    background-color: var(--bg);
    color: var(--soft);
    padding: 100px 0;
}

#skills{
    background-color: var(--card);
    color: var(--soft);
    padding: 30px 0;
}

#projects{
    background-color: var(--bg);
    color: var(--soft);
    padding: 30px 0;
}

#about{
    background-color: var(--card);
    color: var(--soft);
    padding: 30px 0;
}

#contact{
    background-color: var(--bg);
    color: var(--soft);
    padding: 30px 0;
}

/* *{
    outline: 1px solid red;
} */